**pycache**/
*.pyc
*.pyo

.streamlit/secrets.toml
secrets.toml

*.MTS
*.mts
*.mp4
*.mov
*.m4v
*.avi

*.csv
*.xlsx
*.xls

RawData/
RawData
EMA_Master.xlsx
Subject_Master.xlsx

demo_data/expert/
demo_data/**/fujita/
